@charset "utf-8";


.view-product-purchase-edit { width: 450px; margin: 30px auto 0px; }
.view-product-purchase-edit .mfh-form-r.provider .view-provideript { width: 300px; }
.view-product-purchase-edit .mfh-form-r.barcode .searchbtn { position: absolute; top: 0px; left: 210px; }










