@charset "utf-8";


.view-map-location { width: 100%; height: 100%; padding-bottom: 45px; }
.view-map-location > .mapview { width: 100%; height: 100%; }
.view-map-location > .mapview > .centermark { position: absolute; left: 50%; top: 50%; }
.view-map-location > .mapview > .centermark > .icon { position: absolute; width: 20px; height: 32px; 
	left: -9px; bottom: -3px; background-image: url('/theme/icons/ic/position2_c1.png'); background-size: 32px; 
	background-position: center bottom; background-repeat: no-repeat; }
.view-map-location > .curaddr { position: absolute; left: 0px; width: 100%; bottom: 0px; height: 45px; 
	background-color: #999; padding: 6px 75px 3px 12px; overflow: hidden; }
.view-map-location > .curaddr > .addr { font-size: 12px; color: #fff; line-height: 16px; height: 100%; overflow: auto; }
.view-map-location > .curaddr > .selbtn { position: absolute; width: auto; right: 10px; font-size: 14px; 
	line-height: 32px; top: 50%; margin-top: -16px; }
.view-map-location > .searchlist { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; 
	background-color: #fff; z-index: 1000; overflow: auto; display: none; }
.view-map-location > .searchlist > .item { font-size: 12px; padding: 3px 5px 3px 10px; }
.view-map-location > .searchlist > .item:before { left: 10px }
.view-map-location > .searchlist > .item:first-child:before { display: none; }
.view-map-location > .searchlist > .item:active { background-color: #eee; }
.view-map-location > .searchlist > .item > .name { font-size: 14px; }
.view-map-location > .searchlist > .item > .addr { color: rgba(0, 0, 0, 0.5); }












