@charset "utf-8";


.view-stall-block-edit { width: 560px; margin: 40px auto 0px; }
.view-stall-block-edit .mfh-form-r.name .ipt { width: 100%; }
.view-stall-block-edit .mfh-form-r.remark textarea { height: 100px; }








