@charset "utf-8";


.view-me-accounts { height: 100%; }

.view-me-accounts .account-item { padding: 0px !important; }
.view-me-accounts .account-item > .group-title { background-color: #f0f0f0; line-height: 26px; padding-left: 12px; font-size: 14px; }
.view-me-accounts .account-item > .content { width: 100%; color: #000; padding: 10px 0px 10px 70px; min-height: 65px; }
.view-me-accounts .account-item > .content > .date { position: absolute; left: 5px; top: 16px; width: 45px; text-align: center; color: #999; }
.view-me-accounts .account-item > .content > .date > .time { font-size: 12px; }
.view-me-accounts .account-item > .content > .cash { line-height: 26px; font-size: 17px; }
.view-me-accounts .account-item > .content > .desc { font-size: 14px; color: rgba(0, 0, 0, 0.65); line-height: 20px; }
.view-me-accounts .account-item > .content > .type { position: absolute; top: 5px; right: 10px; font-size: 12px; color: rgba(0, 0, 0, 0.4); }
.view-me-accounts .account-item > .content > .cash.plus:before { content: "+"; vertical-align: 1px; }
.view-me-accounts .account-item > .content > .cash.minus:before { content: "-"; }


.view-me-accounts > .account-details > .amount { background-color: #fff; }
.view-me-accounts > .account-details > .amount > .title { padding: 10px 0px 0px 12px; color: rgba(0, 0, 0, 0.65); }
.view-me-accounts > .account-details > .amount > .val { line-height: 40px; padding: 40px 0px 15px 12px; font-size: 40px; }
.view-me-accounts > .account-details > .amount.plus > .val:before { content: "+"; vertical-align: 2px; }
.view-me-accounts > .account-details > .amount.minus > .val:before { content: "-"; }





.account-footer > .accountCash { line-height: 42px; padding-left: 12px; }
.account-footer > .accountCash > .lbl { font-size: 14px; }
.account-footer > .ui-btn { position: absolute; top: 0px; right: 0px; width: 95px; font-size: 16px; border-radius: 0px; }
.account-footer > .ui-btn:after { display: none; }
.account-footer > .transfer { right: 95px; opacity: .65; }


