@charset "utf-8";


.view-me-address > .items > .item { background-color: #fff; padding: 10px 12px; }
.view-me-address > .items > .item > .mobile { position: absolute; top: 10px; right: 10px; }
.view-me-address > .items > .item > .address { font-size: 14px; }
.view-me-address > .items > .item > .address > span { display: inline; }
.view-me-address > .items > .item > .toolbar { margin: 10px -12px -9px -12px; text-align: right; padding: 6px 12px; }
.view-me-address > .items > .item > .toolbar > .btn { line-height: 32px; padding-left: 15px; background-size: 12px; 
	background-repeat: no-repeat; background-position: 0px center; font-size: 14px; margin-left: 10px; }
.view-me-address > .items > .item > .toolbar > .btn:first-child { margin-left: 0px; }
.view-me-address > .items > .item > .toolbar > .btn.setdef { background-image: url('/theme/icons/ic/chk_off.png'); float: left; }
.view-me-address > .items > .item > .toolbar > .btn.edit { background-image: url('/theme/icons/ic/edit.png'); }
.view-me-address > .items > .item > .toolbar > .btn.delete { background-image: url('/theme/icons/ic/delete.png'); }
.view-me-address.mgr > .items > .item { margin-bottom: 10px; }

.view-me-address > .manage { text-align: center; margin-top: 30px; margin-bottom: 50px; }















