@charset "utf-8";


.view-me-callcenter > .description { font-size: 12px; padding: 20px 10px; color: rgba(0, 0, 0, 0.6); }

.view-me-callcenter > .servers { background-color: #fff; }
.view-me-callcenter > .servers > .item { padding: 10px 20px 5px 80px; min-height: 60px; }
.view-me-callcenter > .servers > .item:before { display: none; }
.view-me-callcenter > .servers > .item > .headimg { position: absolute; width: 48px; height: 48px; 
	border-radius: 100px; overflow: hidden; left: 15px; top: 5px; }
.view-me-callcenter > .servers > .item > .name { font-size: 14px; }
.view-me-callcenter > .servers > .item > .phonebtn { position: absolute; width: 44px; height: 44px; right: 0px; top: 8px; 
	background-image: url('/theme/icons/ic/phone_c1.png'); background-size: 20px; background-repeat: no-repeat; background-position: center; }











