@charset "utf-8";


.view-pay-code > .mfh-page-title { font-size: 14px; color: rgba(255, 255, 255, 0.7); }
/*.view-pay-code { padding-top: 8%; }*/
.view-pay-code > .content { width: 94%; background-color: #fff; margin: 0px auto; border-radius: 6px; padding: 30px 0px 0px;
	text-align: center; overflow: hidden; }
.view-pay-code > .content > .barcode { font-size: 0px; }
.view-pay-code > .content > .barcode > .img { display: inline-block; }
.view-pay-code > .content > .barcode > .code { margin-top: -8px; display: none; }
.view-pay-code > .content > .qrcode { font-size: 0px; padding: 30px 0px; }
.view-pay-code > .content > .qrcode:before { display: none; }
.view-pay-code > .content > .recharge { width: 100%; line-height: 50px; background-color: #f7f7f7; font-size: 14px; 
	color: #508BB3; border-radius: 0px 0px 6px 6px; }
.view-pay-code > .content > .recharge:before { content: ""; display: inline-block; width: 28px; height: 24px; 
	vertical-align: -6px; background-image: url('/theme/img/account/recharge.png'); background-size: 18px auto; 
	background-position: center; background-repeat: no-repeat; }
.view-pay-code > .blance { line-height: 32px; text-align: center; font-size: 12px; color: rgba(255, 255, 255, 0.75); }








