@charset "utf-8";


.ui-tabview > .viewstack > .item > .layout-frame { border: 0px; }
.ui-tabview > .viewstack > .item > .layout-frame.lf-t { padding-top: 44px; }
.ui-tabview > .viewstack > .item > .layout-frame > .lf-top { background-color: #f5f5f5; height: 44px; padding-top: 6px; padding-bottom: 6px; }


.mfh-btnbar > div { display: inline-block; vertical-align: middle; padding: 0px 7px; }
.mfh-btnbar > div:first-child { padding-left: 0px; }
.mfh-btnbar > div:last-child { padding-right: 0px; }
.mfh-btnbar > div > button { width: 100%; }
.mfh-btnbar.page-bottom { text-align: center; margin-top: 45px; border-top: 1px solid #e7e7eb; padding: 20px 0px 50px; }
.mfh-btnbar.page-bottom > div { min-width: 120px; }
.mfh-btnbar.page-front { position: absolute; top: 0px; right: 0px; z-index: 1; }


.mfh-form > .mfh-form-r { margin-bottom: 26px; padding-left: 120px; vertical-align: top; }
.mfh-form > .mfh-form-r > dt { position: absolute; left: 0px; top: 0px; line-height: 16px; padding-top: 8px; max-width: 90px; }
.mfh-form > .mfh-form-r > dd { min-height: 32px; }
.mfh-form > .mfh-form-r > dd .ui-textview { vertical-align: middle; }
.mfh-form > .mfh-form-r > dd > * { width: 100%;}
.mfh-form > .mfh-form-r > dd > p:first-child { padding-top: 8px; line-height: 16px; }
.mfh-form > .mfh-form-r > dd > * > p:first-child { padding-top: 8px; line-height: 16px; }
.mfh-form > .mfh-form-r > dd > .ui-group-rad { padding-top: 8px; }
.mfh-form > .mfh-form-r > dd > * > .ui-group-rad:first-child { padding-top: 8px; vertical-align: top; }
.mfh-form > .mfh-form-r > dd > .ui-group-chk { padding-top: 8px; }
.mfh-form.cols2 > .mfh-form-r { display: inline-block; width: 50%; margin-bottom: 10px; }
.mfh-form.cols3 > .mfh-form-r { display: inline-block; width: 33.333333%; margin-bottom: 10px; }
.mfh-form.cols4 > .mfh-form-r { display: inline-block; width: 25%; margin-bottom: 10px; }


.mfh-form-editor .form-box { background-color: #f4f5f9; border: 1px solid #e7e7eb; padding: 15px 12px; }
.mfh-form-editor > .group > .title { line-height: 32px; font-size: 14px; margin-bottom: 25px; border-bottom: 1px solid #e7e7eb; }
.mfh-form-editor > .group > .content { margin-bottom: 40px; }
.mfh-form-editor > .group > .content > .mfh-form > .mfh-form-r { padding-left: 90px; }


.mfh-imguploader { font-size: 0px; }
.mfh-imguploader > .imgs { display: inline-block; }
.mfh-imguploader > .imgs > .img { font-size: 0px; width: 96px; height: 96px; border: 1px solid #ddd; display: inline-block; 
	margin-right: 10px; margin-bottom: 10px; }
.mfh-imguploader > .imgs > .img > .ops { position: absolute; left: 0px; right: 0px; bottom: 0px; height: 24px; display: none;
	background-color: rgba(0, 0, 0, 0.75); text-align: center; padding-top: 3px; }
.mfh-imguploader > .imgs > .img > .ops > .op { width: 18px; height: 18px; background-position: center; background-repeat: no-repeat; 
	background-size: 12px; cursor: pointer; opacity: .75 }
.mfh-imguploader > .imgs > .img > .ops > .op:hover { opacity: 1; }
.mfh-imguploader > .imgs > .img > .ops > .op.tol { background-image: url('/theme/icons/w/arrow2_left.png'); }
.mfh-imguploader > .imgs > .img > .ops > .op.tor { background-image: url('/theme/icons/w/arrow2_right.png'); }
.mfh-imguploader > .imgs > .img > .ops > .op.del { background-image: url('/theme/icons/w/delete.png'); }
.mfh-imguploader > .imgs > .img:first-child > .ops > .op.tol { display: none; }
.mfh-imguploader > .imgs > .img:last-child > .ops > .op.tor { display: none; }
.mfh-imguploader > .imgs > .img:hover > .ops { display: block; }
.mfh-imguploader > .browser { width: 96px; height: 96px; border: 1px dashed #ccc; vertical-align: top; cursor: pointer; background-color: #fff; }
.mfh-imguploader > .browser:before,
.mfh-imguploader > .browser:after { content: ""; position: absolute; left: 50%; top: 50%; background-color: #bababa; }
.mfh-imguploader > .browser:before { width: 20px; height: 2px; margin-top: -1px; margin-left: -10px; }
.mfh-imguploader > .browser:after { width: 2px; height: 20px; margin-top: -10px; margin-left: -1px; }
.mfh-imguploader > .browser:hover { background-color: #f0f0f0; }


.mfh-imgviewer > .imgs { margin-bottom: -6px; }
.mfh-imgviewer > .imgs > div { display: inline-block; font-size: 0px; padding-right: 6px; margin-bottom: 6px; line-height: 0px; }
.mfh-imgviewer > .imgs > div > img { width: 64px; height: 64px; cursor: pointer; }
.mfh-imgviewer > .imgs > div > img:hover { transform: scale(1.05); -webkit-transform: scale(1.05); }
.mfh-imgviewer > .previews { position: fixed; left: 0px; top: 0px; right: 0px; bottom: 0px; background-color: rgba(0, 0, 0, 0.75); 
	z-index: 10000; padding: 50px 150px; }
.mfh-imgviewer > .previews > .img { width: 100%; height: 100%; }
.mfh-imgviewer > .previews > .img > img { position: absolute; width: auto; height: auto; max-width: 100%; max-height: 100%;
	left: 50%; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); }
.mfh-imgviewer > .previews > .scrollbtn { position: absolute; top: 100px; bottom: 100px; width: 65px; background-color: rgba(0,0,0,.25);
	cursor: pointer; }
.mfh-imgviewer > .previews > .scrollbtn:hover { background-color: rgba(0,0,0,.4); }
.mfh-imgviewer > .previews > .scrollbtn.prev { left: 0px; border-radius: 0px 5px 5px 0px; }
.mfh-imgviewer > .previews > .scrollbtn.next { right: 0px; border-radius: 5px 0px 0px 5px; }
.mfh-imgviewer > .previews > .closebtn { position: absolute; top: 0px; right: 0px; width: 64px; height: 64px; cursor: pointer; opacity: .5; }
.mfh-imgviewer > .previews > .closebtn:hover { opacity: 1; }
.mfh-imgviewer.tiny > .imgs > div > img { width: 16px; height: 16px; }
.mfh-form-r > dd > .mfh-imgviewer { padding-top: 8px; }


.mfh-input { width: 230px; display: inline-block; vertical-align: middle; }
.mfh-input > input { padding-right: 32px; width: 100%; }
.mfh-input > .clear { position: absolute; display: none; width: 16px; height: 16px; top: 8px; right: 35px; 
	background-image: url('/theme/icons/b/close2.png'); background-size: 14px; cursor: pointer; opacity: .25;
	background-position: center; background-repeat: no-repeat; }
.mfh-input > .clear:hover { opacity: .5; }
.mfh-input > .btn { position: absolute; top: 1px; right: 1px; bottom: 1px; width: 30px; border-left: 1px solid #e7e7eb; background-size: 12px; 
	background-position: center; background-repeat: no-repeat; cursor: pointer; opacity: .85; }
.mfh-input > .btn:hover { background-color: #f4f5f9; opacity: 1; }
.mfh-input > .dropdown { position: absolute; background-color: #fff; border: 1px solid #ddd; left: 0px; max-width: 150%;
	top: 33px; max-height: 320px; overflow: auto; z-index: 100; min-width: 100%; }
.mfh-input > .dropdown > .item { line-height: 16px; font-size: 14px; padding: 7px 10px; cursor: pointer; white-space: nowrap; }
.mfh-input > .dropdown > .item:hover { background-color: #f4f5f9; }
.mfh-input > .dropdown > .item.selected { background-color: #f0f0f0; }
.mfh-input:hover > .clear { display: inline-block; }
.mfh-input.disabled > input { background-color: #eee; }
.mfh-input.disabled > .clear { display: none; }
.mfh-input.disabled > .btn { background-color: inherit; opacity: .85; cursor: default; }
.mfh-input.mfh-input-more > .btn { background-image: url('/theme/icons/b/more.png'); }
.mfh-input.mfh-input-search > .btn { background-image: url('/theme/icons/b/search2.png'); }


.mfh-map { width: 100%; height: 400px; font-size: 0px; }
.mfh-map > .map-container { width: 100%; height: 100%; overflow: hidden; font-size: 14px; background-color: #fdfdfd; }
.mfh-map > .searchpnl { position: absolute; top: 6px; right: 6px; opacity: .9; display: none; z-index: 200; }
.mfh-map > .searchpnl:hover { opacity: 1; }
.mfh-map .amap-maps .amap-info .amap-info-content { background-color: rgba(0, 0, 0, 0.75); border: 0px; 
	color: #FFF; font-size: 12px; padding: 5px; }
.mfh-map .amap-maps .amap-info .amap-info-sharp { width: 0px; top: 0px; background-image: none; border: 0 solid transparent; 
	border-width: 15px 11px 0; border-top-color: rgba(0, 0, 0, 0.65); }
.mfh-map .amap-maps .amap-info .amap-info-close { background-color: #fff; width: 12px; height: 12px; font-size: 0px; 
	background-image: url('/theme/icons/ic/close.png'); background-size: 8px; background-position: center; 
	background-repeat: no-repeat; border-radius: 2px; display: none; }
.mfh-map .amap-maps .amap-info:hover .amap-info-close { display: block; }

.mfh-processor > .process-tabs { width: 100%; border-bottom: 1px solid #ddd; }
.mfh-processor > .process-tabs > .tab { display: inline-block; text-align: center; line-height: 44px; padding-left: 15px; color: #787878; }
.mfh-processor > .process-tabs > .tab:before,
.mfh-processor > .process-tabs > .tab:after { content: ""; position: absolute; border: 0px solid transparent; border-width: 22px 0px 22px 15px; 
	border-left-color: #ddd; top: 0px; bottom: 0px; right: -15px; z-index: 1; }
.mfh-processor > .process-tabs > .tab:after { border-left-color: #fff; right: -14px; }
.mfh-processor > .process-tabs > .tab:last-child:before,
.mfh-processor > .process-tabs > .tab:last-child:after { display: none; }
.mfh-processor > .process-tabs > .tab.selected { background-color: #009E4D; color: #fff; }
.mfh-processor > .process-tabs > .tab.selected:after { border-left-color: #009E4D; }
.mfh-processor > .process-tabs.s2 > .tab { width: 50%; }
.mfh-processor > .process-tabs.s3 > .tab { width: 33.333333%; }
.mfh-processor > .process-tabs.s4 > .tab { width: 25%; }
.mfh-processor > .process-tabs.s5 > .tab { width: 20%; }
.mfh-processor > .process-tabs.s6 > .tab { width: 16.666666%; }
.mfh-processor > .process-steps > .process-step { display: none; padding: 65px 75px 0px; }
.mfh-processor > .process-steps > .process-step.selected { display: block; }
.mfh-processor > .process-steps > .process-step > .content { min-height: 320px; }


.mfh-searchform { margin-bottom: 20px; }
.mfh-searchform > .row { margin-bottom: 10px; }
.mfh-searchform > .row > dd { min-height: 32px; }
.mfh-searchform > .row > dd > .item { display: inline-block; margin-right: 16px; }


.mfh-status-sum { text-align: right; margin-top: 10px; }
.mfh-status-sum > .item { display: inline-block; margin-left: 30px; }
.mfh-status-sum > .item > dt { display: inline-block; font-size: 14px; color: #787878; }
.mfh-status-sum > .item > dd { display: inline-block; font-size: 14px; color: #FF6B00; }


.mfh-toggle-btn { background-color: #f5f6f7; border: 0px; height: 30px; font-size: 14px; border-right: 1px solid #ddd; 
	cursor: pointer; min-width: 65px; color: #eee; }
.mfh-toggle-btn:first-child { border-radius: 3px 0px 0px 3px; }
.mfh-toggle-btn:last-child { border-radius: 0px 3px 3px 0px; }
.mfh-toggle-btn.on { background-color: #fff; color: #000; cursor: default; }
.mfh-toggle-btn:hover { color: #999; }
.mfh-toggle-btns { display: inline-block; border: 1px solid #e7e7eb; border-radius: 3px; vertical-align: middle; }
.mfh-toggle-btns > .mfh-toggle-btn:last-child { border-right: 0px; }
.mfh-toggle-btns.multi > .mfh-toggle-btn { cursor: pointer; }









