@charset "utf-8";

* { box-sizing: border-box; -moz-box-sizing: border-box; outline: none; -webkit-tap-highlight-color:rgba(0,0,0,0); }

html, body { width: 100%; height: 100%; overflow: hidden; background-color: #ffffff; color: #333333;
	position: relative; font-size: 14px; }
body { font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif; margin: 0px; background-color: #f0f0f0; }

body { min-height: 600px; }
#view-login { display: table; width: 100%; height: 100%; background-color: #009e4d; }
#view-login > .container { display: table-cell; vertical-align: middle; text-align: center; padding: 0px 0px 100px 0px; }
#view-login > .container:after { content: ""; position: absolute; background-image: url('/theme/mfh_logo2.png'); 
    background-size: 48px auto; background-position: center; background-repeat: no-repeat; width: 80px; height: 60px; bottom: 20px; 
    left: 50%; margin-left: -40px; }
#view-login > .container > .content { background-color: rgba(255, 255, 255, 0.6);; width: 280px; text-align: left; margin: 0px auto; 
    padding: 20px 12px; position: relative; }
#view-login > .container > .content > div > dt { margin-bottom: 5px; color: #999; display: none; }
#view-login > .container > .content > div > dd { margin: 0px; }
#view-login > .container > .content > div > dd > input { width: 100%; height: 38px; color: #222; padding: 0px 6px 0px 12px; font-size: 15px; 
    border: 0px; }
#view-login > .container > .content > .name { border-bottom: 1px solid #e7e7eb; }
#view-login > .container > .content > .errors { max-height: 40px; text-align: center; color: #d60202; line-height: 20px; overflow: hidden; 
	text-shadow: 0px 0px 2px #fff; display: none; }
#view-login > .container > .content > .btns { margin: 20px 0px; }
#view-login > .container > .content > .btns > button { width: 100%; height: 40px; color: #fff; border: 0px; 
    border-radius: 2px; font-size: 16px; cursor: pointer; background-color: #ff8200; }
#view-login > .container > .content > .btns > button:hover { background-color: #dc7305; }
#view-login > .container > .content > .qrcode { position: absolute; width: 220px; height: 220px; left: 50%; top: 50%; 
	margin: -110px 0px 0px -110px; background-color: #fff; border: 1px solid #ddd; box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
	text-align: center; padding-top: 20px; font-size: 12px; color: #999; display: none; }
#view-login > .container > .content > .qrcode > .img { width: 144px; height: 144px; margin: 0px auto; }
#view-login > .container > .content > .qrcode > .img > .mfh-qrcode { width: 144px; height: 144px; 
	background-image: url(/theme/mfh_qrcode.jpg); background-size: 100%; }
#view-login > .container > .content > .qrcode > .close { position: absolute; width: 20px; height: 20px; top: 0px; right: 0px; 
	background-image: url(/theme/icons/ic/close.png); background-size: 10px; background-repeat: no-repeat; background-position: center; cursor: pointer; }
#view-login > .container > .content > .qrcode > .close:hover { background-color: #ddd; }
#view-login > .container > .btns { color: rgba(255, 255, 255, 0.65); font-size: 12px; margin-top: 10px; }
#view-login > .container > .btns > .btn { display: inline-block; text-align: center; min-width: 80px; border-left: 1px solid rgba(255, 255, 255, 0.65); 
	line-height: 16px; cursor: pointer; }
#view-login > .container > .btns > .btn:first-child { border-left: 0px; }
#view-login > .container > .version { position: fixed; left: 0px; bottom: 0px; font-size: 12px; color: rgba(255, 255, 255, 0.2); }




