@charset "utf-8";


.mfh-cells { margin-top: 14px; }
.mfh-cells > .mfh-cells-grp { margin-top: 15px; }
.mfh-cells > .mfh-cells-grp:first-child { margin-top: 0px; }
.mfh-cells > .mfh-cells-grp > .items { background-color: #fff; }
.mfh-cells > .mfh-cells-grp > .items > .item { display: block; padding: 0px 10px 0px 15px; color: #222; min-height: 50px; }
.mfh-cells > .mfh-cells-grp > .items > .item:before { left: 15px; }
.mfh-cells > .mfh-cells-grp > .items > .item:first-child:before { display: none; }
.mfh-cells > .mfh-cells-grp > .items > .item > .cell-img { position: absolute; width: 32px; height: 32px; left: 10px; top: 50%;
	margin-top: -16px; border-radius: 100px; display: none; }
.mfh-cells > .mfh-cells-grp > .items > .item > .title { line-height: 50px; }
.mfh-cells > .mfh-cells-grp > .items > .item > .desc { position: absolute; right: 15px; line-height: 22px; 
	color: rgba(0, 0, 0, 0.45); top: 50%; margin-top: -11px; font-size: 14px; max-width: 50%; white-space: nowrap; 
	overflow: hidden; text-overflow: ellipsis; }
.mfh-cells > .mfh-cells-grp > .items > .item > .icon { position: absolute;; width: 32px; height: 32px; right: 0px; top: 50%; 
	margin-top: -16px; background-position: center; background-repeat: no-repeat; background-size: 12px; opacity: .5; }
.mfh-cells > .mfh-cells-grp > .items > .item.lnk > .desc { right: 25px; }
.mfh-cells > .mfh-cells-grp > .items > .item.lnk > .icon { background-image: url('/theme/icons/light/arrow_right.png'); }
.mfh-cells > .mfh-cells-grp.show-icon > .items > .item { padding-left: 55px; }
.mfh-cells > .mfh-cells-grp.show-icon > .items > .item:before { left: 55px; }
.mfh-cells > .mfh-cells-grp.show-icon > .items > .item > .cell-img { display: block; }











